*{
    box-sizing: border-box;
}
body {
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.clear {
    clear: left;
}

header {
    height: 65px;
    width: 100%;
    background-color: burlywood;
    position: fixed;
    top: 0;
    z-index: 10;
}

.container{
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}

.logo{
    color: black;
    font-size: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
}
    
.navbar-list{
    margin-top: -70px;
    font-size: 20px;
}    

.navbar-kiri a {
    padding: 0 25px;
    color: white;
    display: block;
    transition: all 0.5s;
    float: left;
    margin: 20px 20px;
}
  
.navbar-kiri a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.navbar-kanan a {
    padding: 0 25px;
    color: white;
    display: block;
    transition: all 0.5s;
    float: right;
    margin: 20px 20px;
}
  
.navbar-kanan a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.top-wrapper {
   padding: 180px 0 100px 0;
   background-image: url(https://cdn-2.tstatic.net/tribunsumselwiki/foto/bank/images/suasana-di-akaliko.jpg);
   background-size: cover;
   text-align: center;
   opacity: 0.7;
}

.container {
   width: 1170px;
   margin: 0 auto;
}
  
.top-wrapper h1 {
   font-size: 40px;
   letter-spacing: 5px;
   margin-bottom: 10px;
   background-color: burlywood;
   color:white;
   border-radius: 100px;
   opacity: 1;
}
  
.top-wrapper p {
   margin-bottom: 3px;
   color: black;
}
  
.btn-wrapper {
   margin: 20px 0;
}

.btn-wrapper a {
    text-decoration:none;
    line-height: 50px;
    color: inherit;
}

.reservation {
   background-color: burlywood;
   padding: 12px 24px;
   display: inline-block;
   opacity: 0.8;
   border-radius: 20px;
}

.reservation:hover {
    opacity: 1;
}


